<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenyu.cloud.auth.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.chenyu.cloud.auth.model.UserModel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="nickName" jdbcType="VARCHAR" property="nickName" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="loginTime" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>

  <sql id="Base_Column_List">
    id, username, password, icon, email, nickName, note, createTime, loginTime, status
  </sql>
  <select id="findAll" resultType="com.chenyu.cloud.auth.model.UserModel">
    select
    <include refid="Base_Column_List" />
    from ums_admin
    ORDER BY create_time DESC
  </select>
  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ums_admin
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteById" parameterType="java.lang.Long">
    delete from ums_admin
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.chenyu.cloud.auth.model.UserModel">
    <selectKey keyProperty="id">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_user (username, password, icon, mobile, realName,
      email, nickName, note, loginIp, loginTime, sign
      createTime, updateTime, createdBy, updateBy, tenantId, version, status
      )
    values (#{model.username}, #{model.password}, #{model.icon}, #{model.mobile}, #{model.realName},
    #{model.email}, #{model.nickName}, #{model.note}, #{model.loginIp}, #{model.loginTime}, #{model.sign}
    #{model.createTime}, #{model.updateTime}, #{model.createdBy}, #{model.updateBy}, #{model.tenantId}, #{model.version}, #{model.status}
    )
  </insert>

  <select id="countByUsername" resultType="int">
    SELECT count(1) FROM sys_user WHERE username = #{username}
  </select>


  <update id="updateLoginIp" parameterType="com.chenyu.cloud.auth.model.UserModel">
    UPDATE sys_user
    SET updateBy = #{model.id}, loginIp = #{model.loginIp}
    WHERE id = #{model.id}
  </update>
</mapper>